<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.senierr.mortal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".app.SessionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="n">

        <activity
            android:name="com.senierr.mortal.domain.ui.splash.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.senierr.mortal.domain.ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:theme="@style/AppTheme.LoginTheme"
            android:name="com.senierr.mortal.domain.ui.user.LoginActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.common.WebViewActivity" />

        <activity
            android:theme="@style/AppTheme.ImagePreviewTheme"
            android:name="com.senierr.mortal.domain.ui.common.ImagePreviewActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.user.UserInfoActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.category.CategoryManagerActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.setting.SettingActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.setting.AboutActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.user.AccountSafetyActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.common.EditTextActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.user.ResetPasswordActivity" />

        <activity android:name="com.senierr.mortal.domain.ui.user.RegisterActivity" />





        <service android:name="com.senierr.mortal.domain.service.UpgradeService"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>